/* helping adds*/

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
html{height:100%;}
body{min-height:100%;width:100%;font-family:arial,sans-serif;background:#fff;color:#3d3d3d;position:relative;font-size: 16px;line-height: 1;}
img{vertical-align:bottom;border:0;max-width:100%;}

/* /base styles */

/* wraps styling*/

.mbox{max-width:1024px;width:100%;margin:0 auto;position:relative;z-index:1;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/


.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

::-webkit-input-placeholder {color:#212121;}
:-moz-placeholder {color:#212121;}
::-moz-placeholder {color:#212121;}
:-ms-input-placeholder {color:#212121;}

a[href^="http"]:empty::before {
  content: attr(href);
}

a[href] {
  text-decoration: underline;
  &:hover,&:active{text-decoration: none;}
}
/*End Layout*/