<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta id="viewport" name="viewport" content="width=1280,user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="MobileOptimized" content="1280"/>
    <meta name="HandheldFriendly" content="false"/>

    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 10]>
    <link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" />
    <script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>